.show_name{
  color: #000;
  display: none;
}

#errorText1{
  display: none;
}

#errorText2{
  display: none;
}

#hiddenTextY{
  display: none;
}

#hiddenTextN{
  display: none;
}

fieldset{
  width: 225px;
  background-color: #fff;
  margin: 0 auto;
}

body{
  background-color: #7ff;
}

#errorText{
  display: none;
}

#formHolder{
  display: block;
}

#successDiv{
  display: none;
  height: 250px;
  width: 250px;
  margin: 300px auto;
}

#showInput{
  font-size: 1.5rem;
}